@use "core/variables";
@use "core/settings";
@use "helpers/colors";

.dp-library {
  .confirmation {
    p {
      font-family: settings.$dp-font-family-proximanova;
    }

    &-header {
      margin: variables.$dp-spaces--lv5 auto;
    }

    &-main {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: settings.$dp-font-family-proximanova;
      background-image: url("assets/img/background-pattern-b.svg"),
        url("assets/img/background-pattern-c.svg");
      background-position: top right, bottom left;
      background-repeat: no-repeat;
      padding: variables.$dp-spaces--lv4 variables.$dp-spaces--lv4
        variables.$dp-spaces--lv5;

      button {
        color: colors.$dp-color-green;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-article {
      max-width: 550px;
      margin-bottom: variables.$dp-spaces--lv5;

      h2 {
        font-family: settings.$dp-font-family-proximanova;
        font-weight: settings.$dp-font-weight-bold;
      }

      .text-italic {
        font-size: variables.$dp-sizing--lvl2;
      }
    }

    &-footer {
      text-align: center;
      padding: variables.$dp-spaces--lv4 variables.$dp-spaces--lv2
        variables.$dp-spaces--lv5;
    }
    @media (max-width: 700px) {
      &-main {
        background-image: none;
      }
    }
  }
}
