////
/// It will apply annotations to all items from file.
/// @access private
/// @author Gustavo Baamonde
/// Classes for the List selection
////

@use "helpers/colors";
@use "core/variables";

/* Sticky footer modal */

.dp-library {
  .dp-search-list {
    .dp-wrapper-input {
      display: flex;
    }

    .dp-dropdown-wrapper {
      display: flex;
      align-items: center;

      .dropdown-arrow {
        top: auto;
        right: 24px;
      }
    }
  }

  .dp-table-selection-list {
    padding-bottom: 100px;
  }

  .dp-btnsearch--list {
    position: absolute;
    right: 12px;
  }

  .dp-list-check {
    margin: 0;
    height: 15px;

    .checkmark {
      top: 11px;
      left: 18px;
    }

    &.dp-inputcheck-disabled {
      input {
        cursor: text;
      }

      .checkmark {
        border: 1px solid #999;
        background: #ccc;

        &::after {
          display: none;
        }
      }
    }

    input[type="checkbox"] {
      left: 18px;

      &:focus {
        top: 12px;
        left: 19px;
      }
    }
  }

  .dp-event-label {
    background-color: #dfb2cd;
    color: #772e59;
    padding: 3px 24px;
    border-radius: 3px;
  }

  .dp-sticky-footer {
    background-color: #fff;
    box-shadow: 0 -4px 0 0 #eaeaea;
    border-top: 1px solid #ccc;
    padding: 40px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 100%;
    transition: 0.6s;
    z-index: 10;

    .dp-graphic-legend {
      position: relative;

      span {
        padding-right: variables.$dp-spaces--lv10;
        position: relative;
        font-style: italic;
        font-size: variables.$dp-sizing--lvl3;

        &::before {
          content: "";
          position: absolute;
          background: url("assets/img/arrow-right-graphic.svg") no-repeat 0 0;
          right: 6px;
          height: 30px;
          width: 43px;
          top: -2px;
          transform: rotate(20deg);
        }
      }
    }
  }

  /* No list */

  .dp-content-promotion {
    padding: variables.$dp-spaces--lv5;

    .dp-list-promo {
      padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv0;

      li {
        padding-left: variables.$dp-spaces--lv3;
        background: url("assets/img/check-green.svg") no-repeat 0 8px;
      }
    }
  }

  .dp-cta-paragraph {
    font-size: variables.$dp-sizing--lvl4;
    line-height: 22px;
    color: colors.$dp-color-grey;
    display: block;
    margin: variables.$dp-spaces--lv4 variables.$dp-spaces--lv0;
    font-weight: bold;
  }

  .dp-actions {
    border-top: 1px solid colors.$dp-color-silver;
    padding-top: variables.$dp-spaces--lv4;
  }

  .dp-icon-promotion {
    padding-left: variables.$dp-spaces--lv6;
    width: 80px;
  }

  .dp-img-promotion {
    figcaption {
      font-size: variables.$dp-sizing--lvl2;
      padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv0;
      line-height: 18px;
    }

    img {
      width: 100%;
      display: block;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  /* Modal exclude list  table scroll */

  .dp-modal-exclude-list {
    background: colors.$dp-color-white;
    padding: variables.$dp-spaces--lv7 variables.$dp-spaces--lv5;
    color: colors.$dp-color-darkgrey;
  }

  .dp-content-list {
    width: 100%;
    border: 1px solid colors.$dp-color-silver;
    border-radius: 3px;
    margin: variables.$dp-spaces--lv5 variables.$dp-spaces--lv0;

    .dp-table-scroll-container {
      position: relative;
      padding-top: variables.$dp-spaces--lv7;
    }

    .dp-table-scroll {
      overflow-y: scroll;
      height: 400px;

      thead {
        position: absolute;
        display: table;
        top: 0;
        line-height: normal;
        background-color: colors.$dp-color-white;
        width: 100%;
      }

      th {
        text-overflow: ellipsis;
        border-top: 0;

        a {
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  /* No list modal */

  .dp-modal-nolist {
    padding: variables.$dp-spaces--lv7;

    .dp-icon-modal {
      margin: variables.$dp-spaces--lv5 auto;
      width: 80px;
      height: 100px;

      img {
        width: 100%;
        display: block;
      }
    }

    .dp-nolist-content {
      padding: variables.$dp-spaces--lv2;
    }
  }
  .dp-cta-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: variables.$dp-spaces--lv5 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv1;
  }
}
