////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @access private
/// @group Templates
/// @author Gustavo Baamonde
/// Classes for Reports
////

@use "helpers/colors";
@use "helpers/mixins";
@use "core/variables";
@use "core/settings";
@use "modules/box";

.dp-library {
  .dp-wrapper-messages {
    max-width: 960px; /* TODO: check to modularize the messages */
    background-color: colors.$dp-color-ghostwhite;
    border: 1px solid colors.$dp-border-grey;
    border-radius: variables.$dp-border-radius;
    padding: variables.$dp-spaces--lv4;
    margin: variables.$dp-spaces--lv0 auto;
    box-shadow: 0 0 0 4px colors.$dp-color-white; /* TODO: check to modularize the messages */

    h2 {
      color: colors.$dp-color-darkgrey;
      font-weight: settings.$dp-font-weight-bold;
      letter-spacing: -1px;
      line-height: 1;
      text-shadow: 0 1px 0 colors.$dp-color-white;
      margin-bottom: variables.$dp-spaces--lv3;
    }

    h4 {
      margin: variables.$dp-spaces--lv0;
      font-weight: settings.$dp-font-weight-bold;
      color: colors.$dp-color-grey;
    }

    p {
      margin: variables.$dp-spaces--lv0 variables.$dp-spaces--lv0
        variables.$dp-spaces--lv5;
      line-height: variables.$dp-spaces--lv4;
    }

    .dp-messages-actions {
      text-align: right;
      margin-top: variables.$dp-spaces--lv6;
      padding-top: variables.$dp-spaces--lv4;
      border-top: 1px solid colors.$dp-color-snow;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  /* TODO: Atomic class - check to modularize the messages */
  .bg-message--grey {
    background: colors.$dp-color-ghostwhite;
  }

  /* TO DO: The .report-filter class will deprecate in the next version because it is not a generic class
  for this component.
  It will be replaced by .hero-banner*/
  .hero-banner,
  .report-filters {
    padding: variables.$dp-spaces--lv9 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv5;
    position: relative;

    .arrow {
      display: none;
    }
  }

  .hero-banner--center {
    padding: variables.$dp-spaces--lv9 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv5;
    position: relative;
    text-align: center;
  }

  .report-wrapper {
    max-width: settings.$dp-wrapper-max-width;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-filters {
    width: 100%;
    font-family: settings.$dp-font-family;
    padding-top: variables.$dp-spaces--lv5;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .form-filters .filter {
    position: relative;
    margin-bottom: variables.$dp-spaces--lv0;

    .verified--domain {
      font-size: variables.$dp-sizing--lvl1;
      margin-top: 10px;
      display: inline-block;
    }

    .check--again {
      color: colors.$dp-color-green;
      font-size: variables.$dp-sizing--lvl1;
      text-transform: uppercase;
      font-weight: settings.$dp-font-weight-bold;
      padding-left: 10px;
    }

    .check--again:hover {
      color: colors.$dp-color-darkgreen;
    }

    .dropdown-arrow {
      top: 40px;
    }
  }

  /* Section KPI */
  /* These styles deprecate in the next version (all that is inside container-reports will be removed) */

  .container-reports {
    width: 100%;
    padding: variables.$dp-spaces--lv10 variables.$dp-spaces--lv5;
    flex: 1;

    .wrapper-kpi {
      display: flex;
      max-width: settings.$dp-wrapper-max-width;
      margin: 0 auto;

      .reports-box {
        @include box.dp-box(colors.$dp-color-silver, 30%, 408px, 250px);
        width: 100%;
        max-width: 100%;
        position: relative;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .box-border--bottom {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 3px solid colors.$dp-color-green;
        width: 125px;
        padding-top: 30px;
        left: 0;
        display: block;
      }
    }
    .title-reports-box {
      padding: variables.$dp-spaces--lv5;
      display: inline-block;

      small {
        display: block;
        text-transform: none;
      }
    }
  }

  .box-border--bottom {
    position: relative;
    padding: variables.$dp-spaces--lv5 variables.$dp-spaces--lv4;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 3px solid colors.$dp-color-green;
      width: 125px;
      padding-top: 30px;
      left: variables.$dp-spaces--lv4;
      display: block;
    }
  }
  .title-reports-box {
    padding: variables.$dp-spaces--lv5;
    display: inline-block;

    small {
      display: block;
      text-transform: none;
    }
  }

  .number-kpi {
    font-size: variables.$dp-sizing--lvl10;
    color: colors.$dp-color-darkgrey;
    margin: 0;
    position: relative;
    line-height: 60px;
    font-weight: 300;
  }

  .date-range {
    text-transform: uppercase;
    font-size: variables.$dp-sizing--lvl1;
    color: colors.$dp-color-grey;
  }

  .text-kpi {
    font-size: variables.$dp-sizing--lvl2;
    margin: 3em 0 3em;
    position: relative;
    color: colors.$dp-color-grey;
    padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv4;
  }
  .group-options {
    display: flex;
    justify-content: flex-start;

    .group-item {
      display: inline-block;
      margin-right: 12px;

      a {
        color: colors.$dp-color-green;
        font-weight: bold;
        text-transform: uppercase;
        font-size: variables.$dp-sizing--lvl1;
        font-family: Arial;
        @include mixins.transition-all;
      }
      a:hover {
        color: colors.$dp-color-darkgreen;
      }
      .icon-kpi {
        font-size: 14px;
        bottom: 2px;
        margin-right: 2px;
        position: relative;
      }
    }
  }
  .warning--kpi {
    .number-kpi {
      color: colors.$dp-color-red;
    }
    .box-border--bottom {
      &::after {
        border-color: colors.$dp-color-red;
      }
    }
  }

  /* Top ranking */
  .wrapper-reports-box {
    font-family: settings.$dp-font-family;
    position: relative;

    .reports-box {
      @include box.dp-box(colors.$dp-color-silver, 100%, 100%, 100%);
      position: relative;
      padding: variables.$dp-spaces--lv0;
    }
    .page-ranking--item {
      border-top: 1px solid colors.$dp-color-silver;
      border-bottom: 1px solid colors.$dp-color-silver;
      padding: variables.$dp-spaces--lv3 variables.$dp-spaces--lv5;
      background: colors.$dp-color-ghostwhite;
      margin-bottom: variables.$dp-spaces--lv1;

      .text-ranking {
        margin: variables.$dp-spaces--lv0;
        font-size: variables.$dp-sizing--lvl2;
        color: colors.$dp-color-darkgrey;
        @include mixins.transition-all;
      }
      .link-ranking {
        color: colors.$dp-color-green;
        font-size: variables.$dp-sizing--lvl2;

        &:hover {
          color: colors.$dp-color-darkgreen;
        }
      }
    }
  }

  .wrapper-llm-chat {
    padding: 24px;
    background-color: #fff;
    margin: 24px;
    display: flex;
    height: 100%;
    border: 1px solid #cccccc;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .message-history {
    }

    .message-ai {
      background-color: #e0f8ee;
      padding: 12px;
      text-align: left;
      border-radius: 6px;
    }

    .message-human {
      background-color: #f2edfd;
      padding: 12px;
      text-align: right;
      border-radius: 6px;
    }

    .new-message {
      form {
        .new-message-input {
          border: 1px solid #838370;
          background-color: #ffffff;
          color: #838370;
          padding: 12px 6px;
          font-size: 1rem;
          line-height: 24px;
          margin-top: 6px;
          box-shadow: 0 0 0 2px #ffffff;
          margin-bottom: 24px;
        }

        .new-messages-send-button {
          display: inline-block;
          text-align: center;
          text-decoration: none;
          border: none;
          appearance: none;
          cursor: pointer;
          font-family: "proxima-nova", Helvetica, Arial, sans-serif;
          border-radius: 3px;
          font-weight: 700;
          letter-spacing: 0.6px;
          transition: all 0.35s ease;
          font-size: 1rem;
          line-height: 16px;
          padding: 13px 25px;
          background-color: #33ad73;
          color: #ffffff;
        }
      }
    }
  }
}
