////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @access private
/// @group Templates
/// @author Gustavo Baamonde
/// Classes for Reports
////

@use "helpers/colors";
@use "helpers/mixins";
@use "core/variables";
@use "core/typography";
@use "core/settings";
@use "modules/box";

.dp-library {
  .dp-wrapper-messages {
    max-width: 960px; /* TODO: check to modularize the messages */
    background-color: colors.$dp-color-ghostwhite;
    border: 1px solid colors.$dp-border-grey;
    border-radius: variables.$dp-border-radius;
    padding: variables.$dp-spaces--lv4;
    margin: variables.$dp-spaces--lv0 auto;
    box-shadow: 0 0 0 4px colors.$dp-color-white; /* TODO: check to modularize the messages */

    h2 {
      color: colors.$dp-color-darkgrey;
      font-weight: settings.$dp-font-weight-bold;
      letter-spacing: -1px;
      line-height: 1;
      text-shadow: 0 1px 0 colors.$dp-color-white;
      margin-bottom: variables.$dp-spaces--lv3;
    }

    h4 {
      margin: variables.$dp-spaces--lv0;
      font-weight: settings.$dp-font-weight-bold;
      color: colors.$dp-color-grey;
    }

    p {
      margin: variables.$dp-spaces--lv0 variables.$dp-spaces--lv0
        variables.$dp-spaces--lv5;
      line-height: variables.$dp-spaces--lv4;
    }

    .dp-messages-actions {
      text-align: right;
      margin-top: variables.$dp-spaces--lv6;
      padding-top: variables.$dp-spaces--lv4;
      border-top: 1px solid colors.$dp-color-snow;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  /* TODO: Atomic class - check to modularize the messages */
  .bg-message--grey {
    background: colors.$dp-color-ghostwhite;
  }

  /* TO DO: The .report-filter class will deprecate in the next version because it is not a generic class
  for this component.
  It will be replaced by .hero-banner*/
  .hero-banner,
  .report-filters {
    padding: variables.$dp-spaces--lv9 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv5;
    position: relative;

    .arrow {
      display: none;
    }
  }

  .hero-banner--center {
    padding: variables.$dp-spaces--lv9 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv5;
    position: relative;
    text-align: center;
  }

  .report-wrapper {
    max-width: settings.$dp-wrapper-max-width;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-filters {
    width: 100%;
    font-family: settings.$dp-font-family;
    padding-top: variables.$dp-spaces--lv5;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .form-filters .filter {
    position: relative;
    margin-bottom: variables.$dp-spaces--lv0;

    .verified--domain {
      font-size: variables.$dp-sizing--lvl1;
      margin-top: 10px;
      display: inline-block;
    }

    .check--again {
      color: colors.$dp-color-green;
      font-size: variables.$dp-sizing--lvl1;
      text-transform: uppercase;
      font-weight: settings.$dp-font-weight-bold;
      padding-left: 10px;
    }

    .check--again:hover {
      color: colors.$dp-color-darkgreen;
    }

    .dropdown-arrow {
      top: 40px;
    }
  }

  /* Section KPI */
  /* These styles deprecate in the next version (all that is inside container-reports will be removed) */

  .container-reports {
    width: 100%;
    padding: variables.$dp-spaces--lv10 variables.$dp-spaces--lv5;
    flex: 1;

    .wrapper-kpi {
      display: flex;
      max-width: settings.$dp-wrapper-max-width;
      margin: 0 auto;

      .reports-box {
        @include box.dp-box(colors.$dp-color-silver, 30%, 408px, 250px);
        width: 100%;
        max-width: 100%;
        position: relative;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .box-border--bottom {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 3px solid colors.$dp-color-green;
        width: 125px;
        padding-top: 30px;
        left: 0;
        display: block;
      }
    }
    .title-reports-box {
      padding: variables.$dp-spaces--lv5;
      display: inline-block;

      small {
        display: block;
        text-transform: none;
      }
    }
  }

  .box-border--bottom {
    position: relative;
    padding: variables.$dp-spaces--lv5 variables.$dp-spaces--lv4;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 3px solid colors.$dp-color-green;
      width: 125px;
      padding-top: 30px;
      left: variables.$dp-spaces--lv4;
      display: block;
    }
  }
  .title-reports-box {
    padding: variables.$dp-spaces--lv5;
    display: inline-block;

    small {
      display: block;
      text-transform: none;
    }
  }

  .number-kpi {
    font-size: variables.$dp-sizing--lvl10;
    color: colors.$dp-color-darkgrey;
    margin: 0;
    position: relative;
    line-height: 60px;
    font-weight: 300;
  }

  .date-range {
    text-transform: uppercase;
    font-size: variables.$dp-sizing--lvl1;
    color: colors.$dp-color-grey;
  }

  .text-kpi {
    font-size: variables.$dp-sizing--lvl2;
    margin: 3em 0 3em;
    position: relative;
    color: colors.$dp-color-grey;
    padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv4;
  }
  .group-options {
    display: flex;
    justify-content: flex-start;

    .group-item {
      display: inline-block;
      margin-right: 12px;

      a {
        color: colors.$dp-color-green;
        font-weight: bold;
        text-transform: uppercase;
        font-size: variables.$dp-sizing--lvl1;
        font-family: Arial;
        @include mixins.transition-all;
      }
      a:hover {
        color: colors.$dp-color-darkgreen;
      }
      .icon-kpi {
        font-size: 14px;
        bottom: 2px;
        margin-right: 2px;
        position: relative;
      }
    }
  }
  .warning--kpi {
    .number-kpi {
      color: colors.$dp-color-red;
    }
    .box-border--bottom {
      &::after {
        border-color: colors.$dp-color-red;
      }
    }
  }

  /* Top ranking */
  .wrapper-reports-box {
    font-family: settings.$dp-font-family;
    position: relative;

    .reports-box {
      @include box.dp-box(colors.$dp-color-silver, 100%, 100%, 100%);
      position: relative;
      padding: variables.$dp-spaces--lv0;
    }
    .page-ranking--item {
      border-top: 1px solid colors.$dp-color-silver;
      border-bottom: 1px solid colors.$dp-color-silver;
      padding: variables.$dp-spaces--lv3 variables.$dp-spaces--lv5;
      background: colors.$dp-color-ghostwhite;
      margin-bottom: variables.$dp-spaces--lv1;

      .text-ranking {
        margin: variables.$dp-spaces--lv0;
        font-size: variables.$dp-sizing--lvl2;
        color: colors.$dp-color-darkgrey;
        @include mixins.transition-all;
      }
      .link-ranking {
        color: colors.$dp-color-green;
        font-size: variables.$dp-sizing--lvl2;

        &:hover {
          color: colors.$dp-color-darkgreen;
        }
      }
    }
  }

  /* Proof of concept Chat */

  .dp-iframe {
    width: 400px;
    height: 600px;
    display: block;
    position: fixed;
    right: 30px;
    bottom: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  .dp-body-chat {
    overflow: hidden;
  }

  /* header chat */

  .dp-menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: variables.$dp-spaces--lv2;
    border-radius: 100%;
    transition: box-shadow 0.4s ease 0s;
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 30px;

    &::before {
      content: "";
      background-image: url(assets/img/vertical-dots-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 5px;
      height: 22px;
      display: block;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.5) 0 0 0 0;
    }
  }

  .dp-header-chat {
    padding: variables.$dp-spaces--lv2;
    border-bottom: 1px solid colors.$dp-color-silver;
    /*margin-bottom: variables.$dp-spaces--lv2;*/
    /*position: fixed;*/
    width: 100%;
    background-color: colors.$dp-color-white;
    direction: ltr;
    top: 0;
    height: 56px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: end;
    padding: variables.$dp-spaces--lv0 variables.$dp-spaces--lv3;
    color: rgba(0, 0, 0, 0.85);
    min-width: 320px;
    box-sizing: border-box;
    z-index: 3;

    div {
      display: inline-flex;
    }

    .icon-doppler-logo {
      color: colors.$dp-color-yellow;
      font-size: 30px;
      width: 27px;
      border: 0;
      position: relative;
    }
  }

  .dp-nav-chat {
    display: flex;
  }

  .dp-icon-minimize {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: variables.$dp-spaces--lv2;
    border-radius: 100%;
    transition: box-shadow 0.4s ease 0s;
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 30px;

    &::before {
      content: "";
      background-image: url(assets/img/minus-line-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 20px;
      height: 16px;
      display: block;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.5) 0 0 0 0;
    }
  }

  .dp-icon-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 30px;
    transition: box-shadow 0.4s ease 0s;

    &::before {
      content: "";
      background-image: url(assets/img/close-line-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 16px;
      height: 16px;
      display: block;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.5) 0 0 0 0;
    }
  }

  /* footer chat */

  .dp-footer-chat {
    padding: variables.$dp-spaces--lv2;
    border-top: 1px solid colors.$dp-color-silver;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: colors.$dp-color-white;
    z-index: 2;
    flex: 1 1 auto;
    box-sizing: border-box;
  }

  .dp-new-messages {
    position: relative;
  }

  .dp-send-messages[type="submit"] {
    position: absolute;
    width: 50px;
    height: 42px;
    right: 12px;
    background-color: colors.$dp-color-silver;
  }

  .dp-send-messages[type="submit"] {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    top: 16px;
    right: 5px;
    height: 30px;
    margin-right: variables.$dp-spaces--lv2;
    border-radius: 100%;
    transition: box-shadow 0.4s ease 0s;
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 30px;

    &::before {
      content: "";
      background-image: url(assets/img/icon-send-48.png);
      height: 20px;
      width: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-color: transparent;
      display: block;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.5) 0 0 0 0;
    }
  }

  .dp-chat {
    padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv2
      variables.$dp-spaces--lv6 variables.$dp-spaces--lv2;
    margin-bottom: variables.$dp-spaces--lv0;
    height: calc(100% - 120px);
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .wrapper-llm-chat {
    background-color: colors.$dp-color-white;
    color: colors.$dp-color-text;
    border-radius: 6px;
    height: 100%;
    overflow: hidden;

    .message-history {
      display: flex;
      flex-direction: column;
    }

    .message {
      display: flex;
    }

    .message.message-ai {
      align-items: start;
      margin-left: variables.$dp-spaces--lv4;
      max-width: 97%;
    }

    .message.message-human {
      align-items: end;
      margin-right: variables.$dp-spaces--lv4;
      justify-content: flex-end;
      display: flex;
    }

    .message-ai {
      text-align: left;
      position: relative;
      display: flex;
      flex-direction: column;
      width: fit-content;

      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: -1px;
        left: -10px;
        height: 20px;
        width: 20px;
        background: colors.$dp-color-blue-brightness;
        border-bottom-right-radius: 11px;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: -10px;
        width: 10px;
        height: 20px;
        background: white;
        border-bottom-right-radius: 10px;
      }

      p,
      ol,
      ul {
        padding: variables.$dp-spaces--lv2;
        border-radius: 6px;
        font-size: typography.$dp-fontsize-base;
        background-color: colors.$dp-color-blue-brightness;
      }

      ol,
      ul {
        padding-left: variables.$dp-spaces--lv6;
        padding-bottom: variables.$dp-spaces--lv2;
        padding-top: variables.$dp-spaces--lv2;

        p {
          padding: variables.$dp-spaces--lv0;
          border: none;
        }
      }

      ul {
        list-style: disc;
        margin: variables.$dp-spaces--lv2 variables.$dp-spaces--lv0;
      }

      a {
        text-decoration: underline;
        color: colors.$dp-color-darkgreen;
      }
    }

    .message-human {
      text-align: right;
      margin: variables.$dp-spaces--lv4 variables.$dp-spaces--lv0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: -8px;
        height: 20px;
        width: 20px;
        background-color: #f2edfd;
        background-attachment: fixed;
        border-bottom-left-radius: 15px;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 1px;
        right: -10px;
        width: 10px;
        height: 20px;
        background: white;
        border-bottom-left-radius: 10px;
      }

      p {
        background-color: #f2edfd;
        padding: variables.$dp-spaces--lv2;
        border-radius: 6px;
        font-size: typography.$dp-fontsize-base;
      }
    }

    .message-waiting {
      background-color: colors.$dp-color-greenbg;
      position: relative;
      padding: variables.$dp-spaces--lv2;
      text-align: left;
      left: variables.$dp-spaces--lv4;
      color: colors.$dp-color-text;
      font-weight: bold;
      border-radius: 100%;
      width: 48px;
      height: 48px;
      animation: pulse-animation 1s infinite;

      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
        50% {
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        }
        100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        }
      }
    }

    .new-message {
      display: flex;
      flex-direction: column;
      align-items: end;

      textarea {
        width: 100%;
        resize: none;
        margin: 0px;
        border: 1px solid #ccc;
        height: 40px;
        background: rgb(255, 255, 255);
        font-size: typography.$dp-fontsize-base;
        color: rgba(0, 0, 0, 0.85);
        line-height: 1.25;
        overflow: hidden;
        outline: none;
        box-sizing: border-box;
        padding: 10px 38px 10px 13px;
      }

      .new-message-input[type="text"] {
        border: 1px solid colors.$dp-color-default-checkbox;
        background-color: colors.$dp-color-white;
        color: colors.$dp-color-text;
        font-weight: normal;
        padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv1;
        font-size: typography.$dp-fontsize-base;
        line-height: 24px;
        margin-top: variables.$dp-spaces--lv1;
        box-shadow: 0 0 0 2px colors.$dp-color-white;
        margin-bottom: variables.$dp-spaces--lv1;
        padding-right: 70px;
        text-overflow: ellipsis;
      }

      .new-messages-send-button {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border: none;
        appearance: none;
        cursor: pointer;
        font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        border-radius: 3px;
        font-weight: 700;
        letter-spacing: 0.6px;
        transition: all 0.35s ease;
        font-size: typography.$dp-fontsize-base;
        line-height: 16px;
        padding: 13px 25px;
        background-color: colors.$dp-color-green;
        color: colors.$dp-color-white;
        width: 200px;
      }
    }

    .closed-chat {
      padding-bottom: variables.$dp-spaces--lv4;
      margin-bottom: variables.$dp-spaces--lv4;
      border-bottom: 1px solid colors.$dp-color-snow;

      .message {
        opacity: 0.5;
      }
    }
  }

  /* forma close confirmation */

  /* overlay */

  .dp-overlay-chat {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
  }

  .dp-form-chat-wrapper {
    background-color: colors.$dp-color-white;
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top: 15px solid #fff;
    border-bottom: none;
    padding: variables.$dp-spaces--lv3;
    text-align: center;
  }

  .dp-form-chat-options {
    margin: 0 auto;
    h3 {
      padding: variables.$dp-spaces--lv3 variables.$dp-spaces--lv0
        variables.$dp-spaces--lv0 variables.$dp-spaces--lv0;
    }
    p {
      padding: variables.$dp-spaces--lv3 variables.$dp-spaces--lv0
        variables.$dp-spaces--lv4;
      font-size: typography.$dp-fontsize-base;
    }

    li {
      display: block;
    }

    .dp-end-chat {
      background: #b1b1b1;
      transition: all 0.3seg ease-in-out;

      &:hover {
        background: colors.$dp-color-silver;
      }
    }

    .dp-cancel-chat {
      background: transparent;
      transition: all 0.3seg ease-in-out;

      &:hover {
        background: colors.$dp-color-silver;
      }
    }

    .dp-button {
      margin-bottom: variables.$dp-spaces--lv2;
      font-weight: normal;
      font-size: typography.$dp-fontsize-base;
      width: 70%;
      padding: variables.$dp-spaces--lv3;
    }
  }

  /* form contact chat */

  .dp-form-chat-contact {
    width: 400px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: variables.$dp-spaces--lv3;
    text-align: center;

    .dp-inputs-chat {
      margin-top: variables.$dp-spaces--lv3;
    }

    .dp-buttons-chat {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: variables.$dp-spaces--lv3;

      li {
        width: 100%;
      }

      li:last-child {
        margin-left: variables.$dp-spaces--lv2;
      }

      .dp-button {
        width: 100%;
        font-weight: normal;
        font-size: typography.$dp-fontsize-base;
      }
    }
  }
}
