////
/// We standardize three modal sizes, small (400px), medium (600px) and large (800px).
/// @access private
/// @author Gustavo Baamonde
/// Classes for the Modal component
////

@use "core/variables";
@use "core/settings";
@use "helpers/colors";

.dp-library {
  .modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: colors.$dp-bg-overlay;

    &.bg-opacity--50 {
      background: colors.$dp-bg-overlay-50;
    }
  }

  [class*="modal-content--"] {
    background: colors.$dp-bg-modal;
    margin: auto;
    width: 75%;
    padding: 70px 50px;
    overflow: hidden;
    border-radius: 3px;
    left: 0;
    position: relative;
    right: 0;
    top: 30px;
    /*transform: translateY(-50%);*/

    p {
      font-family: settings.$dp-font-family;
      margin-bottom: 10px;
    }

    .modal-title {
      font-size: variables.$dp-sizing--lvl6;
      text-align: left;
      font-family: settings.$dp-font-family;
      color: colors.$dp-color-darkgrey;
      font-weight: settings.$dp-font-weight-bold;
      margin: 0 0 15px;
    }

    .close {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:after,
      &:before {
        content: " ";
        position: absolute;
        left: 9px;
        height: 20px;
        width: 3px;
        background-color: colors.$dp-color-lightgrey;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &.p-all--20 {
      padding: 20px;
    }
  }

  /* Tamaño del scroll */
  .modal::-webkit-scrollbar {
    width: 8px;
  }

  /* Estilos barra (thumb) de scroll */
  .modal::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 0px;
  }

  .modal::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  .modadl::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  .modal::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 4px;
  }

  .modal::-webkit-scrollbar-track:hover,
  .modal::-webkit-scrollbar-track:active {
    background: #212121;
  }

  .modal-content--small {
    max-width: 400px;
  }

  .modal-content--medium {
    max-width: 600px;
  }

  .modal-content--large {
    max-width: 800px;
  }

  [class*="modal-content--"].modal-content--full {
    background: #f7f7f7;
    padding: 50px 50px 20px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: unset;
    transform: unset;

    .close {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }

  [class*="modal-content--"].modal-content--error {
    background-color: colors.$dp-color-red-brightness;
    border: 1px solid colors.$dp-color-red;

    h2::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 5px;
      padding-top: 10px;
      background-image: url("assets/img/message-cancel-icon.svg");
      background-repeat: no-repeat;
    }

    h2 {
      padding-left: variables.$dp-spaces--lv5;
      position: relative;
    }
  }

  .dp-iconmodal-center {
    display: flex;
    margin: variables.$dp-spaces--lv4 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  /* Modal pack landings */

  .dp-modal-pack-landing {
    padding: variables.$dp-spaces--lv5 variables.$dp-spaces--lv6;
    text-align: center;
    width: 370px;
    margin: variables.$dp-spaces--lv0 auto;

    .dp-button {
      width: 100%;
      margin: variables.$dp-spaces--lv3 variables.$dp-spaces--lv0;
      color: colors.$dp-color-white;
      font-weight: normal;
      font-size: variables.$dp-sizing--lvl3;
    }

    .dp-button.link-green {
      color: colors.$dp-color-green;
      font-weight: normal;

      &:hover {
        color: colors.$dp-color-darkgreen;
      }
    }

    a {
      font-size: variables.$dp-sizing--lvl2-14;
    }

    .dp-carousel-wrapper {
      border: none;
      background-color: colors.$dp-color-white;
      background-image: url("assets/img/placeholder-carousel.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 247px;
    }

    .dp-carousel-slide {
      min-height: 247px;
    }
  }

  /* Modal cancel subscription */

  #modal-cancel-subscription .modal-content--medium {
    padding: 30px 30px;
    background-color: #fff;

    h2 {
      margin-bottom: 6px;
      padding: 0;
    }

    h4 {
      text-transform: none;
      margin-bottom: 6px;
    }

    .dp-input--radio {
      margin: 0;
    }

    .field-group .field-item {
      margin-bottom: 6px;
    }

    .dp-input--radio label span {
      padding: 6px;
    }

    .dp-group-buttons {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      border-top: 1px solid #ccc;
      padding-top: 12px;
    }

    .dp-input--radio label span.dp-radio-twolines {
      align-items: normal;
      line-height: 18px;
    }
  }

  /* Modal discount code confirmation */

  #modal-discount-code-confirmation {
    .modal-content--medium {
      background-color: #fff;
      padding: 30px 30px 24px;
    }

    h2 {
      margin: 0;
    }

    .dp-group-buttons {
      border-top: 1px solid #ccc;
      padding-top: 18px;
      margin-top: 18px;
      display: flex;
      justify-content: end;
    }
  }

  /* Modal Pre cancellation subscription */

  #modal-pre-cancellation-subscription {
    text-align: center;

    .modal-content--small {
      padding: 30px 65px;
      max-width: 450px;
    }

    .dp-arrow-back {
      background-image: url(assets/img/arrow-back.svg);
      background-repeat: no-repeat;
      width: 29px;
      height: 27px;
      display: block;
      position: absolute;
      top: 30px;
      left: 20px;
      cursor: pointer;
    }

    .dp-bg-retention {
      border: none;
      background-image: url(assets/img/placeholder-carousel.svg);
      background-repeat: no-repeat;
      background-position: center center;
      height: 247px;
      padding: 0 0 30px;
      margin: 0 auto 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin: 0 auto;
        display: block;
      }
    }

    .dp-link-cancellation {
      color: #a63a33;
      font-size: 12px;
      line-height: 18px;

      &:hover {
        color: #e34f45;
        text-decoration: underline;
      }
    }

    textarea {
      margin-top: 6px;
    }
  }
}
