////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @access private
/// @author Gustavo Baamonde
/// Classes for the pagintaion component
////

@use "core/variables";
@use "helpers/colors";
@use "core/typography";

.dp-library {
  %pagination-link {
    padding: variables.$dp-spaces--lv1 variables.$dp-spaces--lv0;
    font-size: variables.$dp-sizing--lvl4;
    text-align: center;
    display: inline-block;
    width: auto;
    height: 36px;
    min-width: 36px;
    transition: background-color 0.5s ease;
    position: relative;
    line-height: 26px;
  }

  .dp-pagination {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: variables.$dp-spaces--lv2 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv0;

    @media screen and (max-width: 980px) {
      justify-content: flex-start;
    }

    ul {
      list-style: none;
      display: flex;
      padding: variables.$dp-spaces--lv0;
      margin: variables.$dp-spaces--lv0;

      li {
        padding: variables.$dp-spaces--lv2 2px;
      }

      .dp-active-page {
        background-color: colors.$dp-color-yellow;
        @extend %pagination-link;
        border-radius: 3px;
      }
    }

    span {
      display: flex;
      position: relative;
      font-size: variables.$dp-sizing--lvl4;
    }

    button,
    a {
      color: colors.$dp-color-grey;
      @extend %pagination-link;
      border: 2px solid colors.$dp-color-white;
      line-height: 15px;
      width: auto;
      height: 36px;
      min-width: 36px;
      padding: 10px 7px;

      &:hover {
        display: inline-block;
        border-radius: 3px;
        border: 2px solid colors.$dp-color-yellow;
      }
    }

    .icon-arrow-prev:before {
      position: absolute;
      top: 9px;
      left: 10px;
    }
    .icon-arrow-next:before {
      position: absolute;
      top: 9px;
      left: 13px;
    }

    .dp-pag-point {
      position: relative;
      &:before {
        content: "...";
        top: 4px;
        position: absolute;
        left: 8px;
      }
    }
  }

  /* Steper - Plan chat */

  .dp-container-steper {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;

    .dp-steper {
      counter-reset: step;
      margin: 60px auto;
    }

    .dp-steper li {
      float: left;
      width: 170px;
      height: 30px;
      position: relative;
      text-align: center;
    }

    .dp-steper li.active::before {
      border-color: colors.$dp-color-darkgreen;
      background: colors.$dp-color-green;
    }

    .dp-steper li:before {
      width: 30px;
      height: 30px;
      border: 3px solid colors.$dp-color-darkgreen;
      display: block;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      line-height: 27px;
      text-align: center;
    }

    .dp-steper li:before {
      content: "";
      width: 30px;
      height: 30px;
      border: 3px solid colors.$dp-color-lightgrey;
      display: block;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      line-height: 27px;
      background: colors.$dp-color-ghostwhite;
      text-align: center;
    }

    .dp-steper li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: colors.$dp-color-lightgrey;
      top: 15px;
      left: -50%;
      z-index: -1;
    }

    .dp-steper li:first-child:after {
      content: none;
    }

    .dp-steper li:last-child {
      content: none;
    }

    .dp-steper li.active:after {
      background: colors.$dp-color-darkgreen;
    }

    span {
      position: relative;
      text-align: center;
      top: -70px;
      color: colors.$dp-color-text;
    }

    span.dpicon {
      position: absolute;
      top: -34px;
      width: 100%;
      font-size: 28px;
      text-align: center;
      color: colors.$dp-color-silver;
    }

    .dp-steper li.active .dpicon {
      color: colors.$dp-color-green;
    }
  }

  /* Steper counter */

  .dp-container-steper {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;

    .dp-steper-counter {
      counter-reset: step;
      margin: 60px auto;
    }

    .dp-steper-counter li {
      float: left;
      width: 170px;
      height: 30px;
      position: relative;
      text-align: center;
    }

    .dp-steper-counter li.active::before {
      border-color: colors.$dp-color-darkgreen;
      background: colors.$dp-color-green;
      color: white;
    }

    .dp-steper-counter li:before {
      content: "1";
      width: 30px;
      height: 30px;
      border: 2px solid #bebebe;
      display: block;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      line-height: 27px;
      background: colors.$dp-color-white;
      color: #bebebe;
      text-align: center;
    }

    .dp-steper-counter li:before {
      content: counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      border: 3px solid colors.$dp-color-lightgrey;
      display: block;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      line-height: 27px;
      background: colors.$dp-color-ghostwhite;
      color: colors.$dp-color-grey;
      text-align: center;
    }

    .dp-steper-counter li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: colors.$dp-color-lightgrey;
      top: 15px;
      left: -50%;
      z-index: -1;
    }

    .dp-steper-counter li:first-child:after {
      content: none;
    }

    .dp-steper-counter li:last-child {
      content: none;
    }

    .dp-steper-counter li.active:after {
      background: colors.$dp-color-darkgreen;
    }

    span {
      position: relative;
      text-align: center;
      top: -70px;
      color: colors.$dp-color-text;
    }

    /* step active */

    span.step-active {
      background-color: colors.$dp-color-greenbg;
      position: absolute;
      padding: variables.$dp-spaces--lv2;
      color: colors.$dp-color-text;
      border-radius: 100%;
      top: -5px;
      left: 65px;
      z-index: -2;
      width: 40px;
      height: 40px;
      animation: pulse-animation 1s infinite;

      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
        50% {
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        }
        100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
