/// This mixin generate classes the colors for text and backgrounds, without having to write one by one
/// for each color. More down see examples the classes generated.
/// @author Ignacio Rodrigues
/// @access private
/// @example
///
///   .sylver-color {
///     color: #CCCCCC;
///   }
///
///   .sylver-background {
///     color: #CCCCCC;
///   }
///

@use "helpers/colors";

$colours: (
  white: colors.$dp-color-white,
  ghostwhite: colors.$dp-color-ghostwhite,
  lightgrey: colors.$dp-color-lightgrey,
  grey: colors.$dp-color-grey,
  darkgrey: colors.$dp-color-darkgrey,
  lightgreen: colors.$dp-color-lightgreen,
  green: colors.$dp-color-green,
  darkgreen: colors.$dp-color-darkgreen,
  brightnessgreen: colors.$dp-color-green-brightness,
  silver: colors.$dp-color-silver,
  snow: colors.$dp-color-snow,
  lightyellow: colors.$dp-color-lightyellow,
  lemonyellow: colors.$dp-color-lemonyellow,
  yellow: colors.$dp-color-yellow,
  darkyellow: colors.$dp-color-darkyellow,
  brightnessyellow: colors.$dp-color-yellow-brightness,
  lightred: colors.$dp-color-lightred,
  red: colors.$dp-color-red,
  darkred: colors.$dp-color-darkred,
  brown: colors.$dp-color-brown,
  brownbrightness: colors.$dp-color-brown--hover,
);

@each $i in $colours {
  .#{nth($i, 1)}-color {
    color: nth($i, 2);
  }
  .#{nth($i, 1)}-background {
    background: nth($i, 2);
  }
}
