/// Classes
/// -> Helper classes.
/// @group Classes
///
///

@use "core/variables";
@use "core/typography";
@use "helpers/colors";
@use "helpers/mixins";

.dp-hidden-page {
  &.dp-show-page {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }
}

/* For all table links */
.grid th a:hover {
  color: #fff;
  font-weight: bold;
}

/* Fix incorrect focus display in Jquery selectBox plugin classes */

.selectBox-dropdown:focus {
  box-shadow: 0 0 0 2px #e58900;
}
.selectBox-menuShowing {
  box-shadow: 0 0 0 2px #e58900;
}

.selectBox-dropdown.selectBox-menuShowing {
  box-shadow: 0 0 0 2px #e58900;
}

.dp-library input.selectBox-input:focus {
  box-shadow: none;
}

/* fix in create templates button color in old doppler */

.dp-library a.button--primary,
.dp-library a.button--primary {
  background: colors.$dp-color-green;
  color: colors.$dp-color-white;
}
.dp-library a.button--primary:hover,
.dp-library a.button--primary:active {
  background: colors.$dp-color-darkgreen;
  color: colors.$dp-color-white;
}

/* Fix Campaigns Scheduled links colors in old doppler */

.dp-library a.main_buttons_green_big,
.dp-library a.main_buttons_green_small {
  color: colors.$dp-color-white;
}

.dp-library a.main_buttons_green_big:hover,
.dp-library a.main_buttons_green_small:hover,
.dp-library a.main_buttons_green_big:active,
.dp-library a.main_buttons_green_small:active {
  color: colors.$dp-color-white;
}

.statusSchueduledCampaignColumn {
  span.processingMessage {
    width: max-content;

    label {
      width: auto;
      font-weight: normal;
      display: contents;
    }
  }
}

/// class for doppler old ///

/* links templates */
#content-wrapper
  .section--templates
  .hover-actions
  a.button-outline--white:hover {
  opacity: 0.6;
  color: colors.$dp-color-white;
}

/* class*/

#content-wrapper.dp-content-wrapper {
  width: 100%;
  display: block;
  margin: variables.$dp-spaces--lv0 auto;
  min-height: auto;
  padding: variables.$dp-spaces--lv0 variables.$dp-spaces--lv0
    variables.$dp-spaces--lv5;
  position: relative;

  .button-tip {
    color: #fff;
  }

  #EditList .grayPanel-box {
    min-height: 100%;
  }

  .saveAndCancel-container {
    min-height: 200px;
    max-height: 400px;
  }

  .grayPanel-box {
    width: 100%;
    min-height: 580px;
  }

  a.main_buttons_gray_bigger,
  a.main_buttons_gray_small {
    color: colors.$dp-color-white;
    &:hover {
      color: colors.$dp-color-white;
    }
  }

  a.main_buttons_gray_small .gray.excelbutton {
    vertical-align: initial;
  }

  .grayPanel-box .grid th a:hover {
    color: colors.$dp-color-white;
    font-weight: bold;
  }

  /* campaign filter fix */

  .dp-table-filters {
    padding-bottom: variables.$dp-spaces--lv4;

    .dp-btn-group-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv0
        variables.$dp-spaces--lv0;
    }

    .main_buttons_green_small,
    .main_buttons_grey_small {
      margin: variables.$dp-spaces--lv0 variables.$dp-spaces--lv1
        variables.$dp-spaces--lv0 variables.$dp-spaces--lv0;
    }
  }

  .dp-table-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;

    a {
      margin-right: variables.$dp-spaces--lv2;
    }
  }

  .delete {
    float: none;
    vertical-align: auto;
  }

  .editlnk {
    float: none;
    height: 17px;
  }

  .dp-widthauto {
    width: auto;
  }

  /* Select List */

  #searchForm .selectBox.filter {
    color: #666;
  }

  #searchFilters,
  .searchCampaignLists-container {
    a {
      color: colors.$dp-color-grey;
    }
  }

  .selectList-button,
  .labelManager-button {
    height: 38px;
    padding: variables.$dp-spaces--lv2 variables.$dp-spaces--lv0
      variables.$dp-spaces--lv0 variables.$dp-spaces--lv2;
    width: 51px;
  }

  .selectList-Container ul li:first-child,
  .labelManager-whitespace {
    height: 10px;
    margin: -15px 0 0 -3px;
    width: 53px;
  }

  .selectList-Container ul,
  .labelManager-actions {
    margin: 6px 0 0 -1px;
    padding: variables.$dp-spaces--lv1 variables.$dp-spaces--lv1
      variables.$dp-spaces--lv1 2px;
  }

  .selectList-links {
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
    padding: variables.$dp-spaces--lv1;
    height: auto;
  }

  /* Label Manager */
  .labelManager-actions {
    padding: variables.$dp-spaces--lv2;
    width: 216px;
  }

  .labelManager-whitespace {
    margin: -22px 0 0 -13px;
  }

  input.searchLabel,
  #searchLabelText.searchLabel {
    padding-left: variables.$dp-spaces--lv6;
  }

  /* Search */
  .searchCampaignLists-container {
    display: block;
    padding-bottom: variables.$dp-spaces--lv0;
  }
  .searchText-container input.search-CampaignLists,
  .searchText-container .search,
  .searchText-container #searchText {
    padding-left: variables.$dp-spaces--lv6;
  }

  #searchForm .selectBox.filter {
    color: inherit;
  }

  /* create campaign */

  #updateFiltering p.noResults-message {
    color: #2b1f00;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
  }

  .noResultsLists-container {
    width: 100%;

    p.noResults-message {
      color: #2b1f00;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 40px;
      margin-top: 10px;
      text-align: center;
    }
  }
  .emptySection-container {
    display: flex;
    width: 100%;
    height: 233px;
    align-items: center;
    justify-content: center;
    padding-top: variables.$dp-spaces--lv5;

    .subSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-items: center;

      a {
        color: colors.$dp-color-white;
      }
    }
  }

  /* Campaigns Sent filter all */

  #textDatesContainer {
    float: none;
    margin-top: 12px;

    .dateLabel-left {
      width: 50%;
      display: inline-block;
    }

    .date-label {
      display: inline-block;
      width: 50%;
      margin: 0;
      padding-left: 3px;
    }

    .dateText-left {
      margin-right: 0px;
    }

    .date-text {
      display: inline-block;
      float: none;
      font-size: 13px;
      height: 30px;
      line-height: 30px;
      padding-left: 2px;
      width: 48%;
    }
  }

  /* List mastersubscriber */

  .dp-emptycardlist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 54px 0;
  }

  .dp-bordercardlist {
    &::after {
      position: absolute;
      content: "";
      border: 1px solid colors.$dp-color-silver;
      height: 70%;
      left: 0;
    }

    &::before {
      position: absolute;
      content: "";
      border: 1px solid colors.$dp-color-silver;
      height: 70%;
      right: 0;
    }
  }

  .searchGeneralLists-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #exportList,
    #excelbutton {
      line-height: initial;
      padding-top: 3px;
      width: 130px;
    }
  }

  #masterSubscriberForm a.selectBox {
    width: 16%;
    color: #666;
  }

  #masterSubscriberForm .searchMasterSubscribers-container {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* Date range selection */

  #inputDatesContainer {
    float: none;
    margin-top: 12px;
  }

  .dateLabel-left {
    margin-right: 0px;
  }

  .date-label {
    display: inline-block;
    margin-bottom: 0px;
    width: 50%;
  }

  INPUT.date-picker {
    font-size: 12px;
    height: 28px;
    float: none;
    padding: 0 26px 0 5px;
    width: 48%;
  }

  INPUT.end-date {
    float: right;
  }

  td.deleteConfirmation-left > div.deleteMessageActions a {
    color: colors.$dp-color-white;

    &:hover {
      color: colors.$dp-color-white;
      text-decoration: underline;
    }
  }

  #dopplerTip-importList {
    color: colors.$dp-color-white;
  }

  .saveAndCancel-container,
  .nav-button-bar {
    ul {
      display: flex;
      align-items: center;
      justify-content: end;

      li {
        margin-left: variables.$dp-spaces--lv2;
      }

      #importButton {
        padding: 0;
        min-width: 160px;
      }
    }
  }

  /* segment */

  .option-buttonBar {
    float: none;
    display: flex;
    align-items: center;
    justify-content: end;

    #excelbutton {
      height: 40px;
      display: flex;
      align-items: center;
      width: auto;
      justify-content: center;
      margin-left: 12px;

      .excelbutton {
        top: 2px;
      }
    }
  }

  .labelManager-labelLists label {
    width: 75%;
  }
}

/* Save indicator Editor Unlayer */

.dp-save-indicator {
  position: relative;
  padding-left: 25px;
  font-size: typography.$dp-fontsize-base;
  line-height: typography.$dp-lineheight-medium;
  color: colors.$dp-color-darkgrey;
  min-width: 24px;
  width: auto;
  height: 24px;
}

.dp-save-indicator.state-idle::before,
.dp-save-indicator.state-saved::before {
  content: "";
  background-image: url(assets/img/Saved.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
}

.dp-save-indicator.state-error::before,
.dp-save-indicator.state-pending::before,
.dp-save-indicator.state-saving::before {
  content: "";
  background-image: url(assets/img/Saving.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
}

.dp-save-indicator.state-error span,
.dp-save-indicator.state-pending span,
.dp-save-indicator.state-saving span {
  animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* Undo - Redo Editor Unlayer */

.ed-header-list .undoTools {
  margin: 0;
}

.dp-undoredo-wrap {
  display: flex;
  align-items: center;
}

%undoRedo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ccc;
  margin-right: 6px;
  background: colors.$dp-color-ghostwhite;
  padding: 6px;
  width: 40px;
  height: 40px;
  transition: all 0.1s ease-in-out;
}
%disabled-undoredo {
  pointer-events: none;
  opacity: 0.4;
  border: 1px solid #ccc;
}

%active-undoredo {
  background-color: colors.$dp-color-snow;
  border: 1px solid colors.$dp-color-lightgrey;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

%hover-undoredo {
  background-color: colors.$dp-color-snow;
  border: 1px solid colors.$dp-color-silver;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

.dp-arrow-undo {
  @extend %undoRedo-btn;

  &:hover {
    @extend %hover-undoredo;
  }

  &:active {
    background-color: colors.$dp-color-snow;
    border: 1px solid colors.$dp-color-lightgrey;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  &:disabled {
    @extend %disabled-undoredo;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    background-image: url(assets/img/btn-undo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }
}

.dp-arrow-redo {
  @extend %undoRedo-btn;

  &:hover {
    @extend %hover-undoredo;
  }

  &:active {
    background-color: colors.$dp-color-snow;
    border: 1px solid colors.$dp-color-lightgrey;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  &:disabled {
    @extend %disabled-undoredo;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    background-image: url(assets/img/btn-redo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }
}

/* Unlayer Custom Media Gallery */

.dp-library .dp-image-gallery {
  display: flex;
  height: 100%;
  flex-direction: column;

  .dp-image-gallery-header {
    padding-bottom: 18px;
  }

  .dp-image-gallery-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .dp-image-gallery-footer {
    padding-top: 18px;
    border-top: 1px solid #e5e5e5;

    button:last-child {
      float: right;
    }
  }

  .dp-image-gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 24px;
    justify-content: space-around;

    .dp-image-gallery-thumbnail {
      background-color: #e5e5e5;
      cursor: pointer;
      height: 150px;
      overflow: hidden;
      position: relative;

      .dp-image-gallery--mask {
        background: 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.3s ease;
        width: 100%;
      }

      &:hover .dp-image-gallery--mask {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    p {
      color: #525252;
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
    }

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    input[type="checkbox"] {
      appearance: none;
      bottom: 8px;
      top: unset;
      left: 8px;
      width: 1.4em;
      height: 1.4em;
      border-radius: 0.3em;
      background-color: #fafafa;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

      &:focus {
        top: unset;
        left: 8px;
      }

      &:checked::after {
        content: "\2714";
        position: absolute;
        top: 3px;
        left: 3px;
        color: #99a1a7;
      }
    }
  }
}
