/// Classes
/// -> Helper classes.
/// @group Classes
///

.dp-hidden-page {
  &.dp-show-page {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }
}

/// class for doppler old
///

#content-wrapper.dp-content-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
  min-height: auto;
  padding: 0 0 30px;
  position: relative;

  .grayPanel-box {
    width: 100%;
  }

  .dp-library .grid th a:hover {
    color: #fff;
    font-weight: bold;
  }

  /* campaign filter fix */

  .dp-table-filters {
    padding-bottom: 24px;

    .dp-btn-group-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0 0;
    }

    .main_buttons_green_small,
    .main_buttons_grey_small {
      margin: 0 6px 0 0;
    }
  }

  .dp-table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      margin: 0;
    }
  }

  .delete {
    float: none;
    vertical-align: auto;
  }

  .editlnk {
    float: none;
    height: 17px;
    margin-right: auto;
  }

  .dp-widthauto {
    width: auto;
  }

  /* Select List */

  #searchFilters,
  .searchCampaignLists-container {
    a {
      color: #666;
    }
  }

  .selectList-button,
  .labelManager-button {
    height: 38px;
    padding: 12px 0 0 12px;
    width: 51px;
  }

  .selectList-Container ul li:first-child,
  .labelManager-whitespace {
    height: 10px;
    margin: -15px 0 0 -3px;
    width: 53px;
  }

  .selectList-Container ul,
  .labelManager-actions {
    margin: 6px 0 0 -1px;
    padding: 6px 6px 6px 2px;
  }

  .selectList-links {
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
    padding: 6px 6px 6px 6px;
    height: auto;
  }

  /* Label Manager */
  .labelManager-actions {
    padding: 12px;
    width: 216px;
  }

  .labelManager-whitespace {
    margin: -22px 0 0 -13px;
  }

  input.searchLabel,
  #searchLabelText.searchLabel {
    padding-left: 36px;
  }

  /* Search */
  .searchCampaignLists-container {
    display: block;
    padding-bottom: 0px;
  }
  .searchText-container input.search-CampaignLists {
    padding-left: 36px;
  }
}
